/* Declare all the colors used for the website in one place so I don't have to copy and paste them everywhere */
:root {
    --accent-color: #ec5555;
    --accent-color-light: #f88a8a;
    --secondary-background: #f8f8f8;
    --light-background: #f3f3f3;
    --light-text-color: #767676;
    --border-color: #cccccc;
}

* {
    font-family: Inter, sans-serif;

    /* Setup for the Inter font, from https://rsms.me/inter/ */
    font-feature-settings: 'liga' 1, 'calt' 1;
}

body {
    margin: 0;
    padding: 0;

    /* Makes the body a flex container, and make it be at least 100 units of the browser's view-height */
    display: flex;
    min-height: 100svh;
    flex-direction: column;
}

main {
    padding: 0 15px;
    margin: 0;

    /* 
        Because the body is a flex container, I tell the main to grow to whatever size it wants to fill up the remaining space
        This will allow my footer to remain at the bottom of the page, and not overlay any content, like it would when using
        an fixed position
    */
    flex-grow: 1;
}

header {
    padding: 15px;
    background-color: var(--secondary-background);

    /* Makes the header a flex container that centers all items vertically */
    display: flex;
    align-items: center;
}

footer {
    margin-top: 20px;

    text-align: center;
    background-color: var(--secondary-background);
    color: var(--light-text-color);
}

footer span {
    padding: 3px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 2px solid var(--border-color);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--light-background);
}

section,
article {
    /* Prevents floating images from shrinking the height of the article, causing other text to go into it */
    overflow: hidden;
}

#main-image {
    width: 320px;
}

/* On screens less than 550px wide, adjust the image to make it fit better. */
@media screen and (max-width: 550px) {
    #main-image {
        width: 98%;
        margin-bottom: 10px;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    color: var(--accent-color);
    transition: 0.2s;
}

a:hover {
    color: #c24747;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

.light-text {
    color: var(--light-text-color);
}

.floating-left {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

.floating-right {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
}

.rounded {
    border-radius: 10px;
    border: 3px solid var(--border-color);
}

.link-button {
    padding: 10px 20px;
    display: inline-block;

    background-color: #e2e2e2;
    color: black;

    text-decoration: none;
    text-align: center;

    border-radius: 6px;

    /* Makes changes to the link button, like changing the background colour when hovered animate. */
    transition: 0.2s;
}

.link-button:hover {
    background-color: var(--accent-color);
    color: white;
}

.bold {
    font-weight: bold;
}

nav #active {
    /* Adds an outline to the active links */
    outline: 2px solid var(--accent-color-light);

    /* Prevents the outline from changing the size of the link itself, keeping it inline with the other elements */
    outline-offset: -2px;

    background-color: var(--accent-color);
    color: white;
}

/* Reduce the amount of margins on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
}

p {
    /* Reduce the amount of margin on p */
    margin: 10px 0;
}

/* Put 0 margin on everything inside the header */
header * {
    margin: 0;
}